<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="checkOut">
      <h2 data-cy="checkOutDetailsHeading"><span jhiTranslate="restaurantApiApp.checkOut.detail.title">Check Out</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ checkOut.id }}</span>
        </dd>
        <dt><span jhiTranslate="restaurantApiApp.checkOut.paymentType">Payment Type</span></dt>
        <dd>
          <span>{{ checkOut.paymentType }}</span>
        </dd>
        <dt><span jhiTranslate="restaurantApiApp.checkOut.order">Order</span></dt>
        <dd>
          <div *ngIf="checkOut.order">
            <a [routerLink]="['/order', checkOut.order?.id, 'view']">{{ checkOut.order?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/check-out', checkOut.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
