<div>
  <h2 id="page-heading" data-cy="WaiterHeading">
    <span jhiTranslate="restaurantApiApp.waiter.home.title">Waiters</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="restaurantApiApp.waiter.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-waiter"
        [routerLink]="['/waiter/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="restaurantApiApp.waiter.home.createLabel"> Create a new Waiter </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="waiters?.length === 0">
    <span jhiTranslate="restaurantApiApp.waiter.home.notFound">No waiters found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="waiters && waiters.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="firstName">
            <span jhiTranslate="restaurantApiApp.waiter.firstName">First Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <span jhiTranslate="restaurantApiApp.waiter.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateOfBirth">
            <span jhiTranslate="restaurantApiApp.waiter.dateOfBirth">Date Of Birth</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="address">
            <span jhiTranslate="restaurantApiApp.waiter.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <span jhiTranslate="restaurantApiApp.waiter.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="restaurantApiApp.waiter.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let waiter of waiters; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/waiter', waiter.id, 'view']">{{ waiter.id }}</a>
          </td>
          <td>{{ waiter.firstName }}</td>
          <td>{{ waiter.lastName }}</td>
          <td>{{ waiter.dateOfBirth | formatMediumDate }}</td>
          <td>{{ waiter.address }}</td>
          <td>{{ waiter.phoneNumber }}</td>
          <td>{{ waiter.email }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/waiter', waiter.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/waiter', waiter.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(waiter)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="waiters && waiters.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
