<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="waiter">
      <h2 data-cy="waiterDetailsHeading"><span jhiTranslate="restaurantApiApp.waiter.detail.title">Waiter</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ waiter.id }}</span>
        </dd>
        <dt><span jhiTranslate="restaurantApiApp.waiter.firstName">First Name</span></dt>
        <dd>
          <span>{{ waiter.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="restaurantApiApp.waiter.lastName">Last Name</span></dt>
        <dd>
          <span>{{ waiter.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="restaurantApiApp.waiter.dateOfBirth">Date Of Birth</span></dt>
        <dd>
          <span>{{ waiter.dateOfBirth | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="restaurantApiApp.waiter.address">Address</span></dt>
        <dd>
          <span>{{ waiter.address }}</span>
        </dd>
        <dt><span jhiTranslate="restaurantApiApp.waiter.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ waiter.phoneNumber }}</span>
        </dd>
        <dt><span jhiTranslate="restaurantApiApp.waiter.email">Email</span></dt>
        <dd>
          <span>{{ waiter.email }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/waiter', waiter.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
